In [ ]:
##https://en.wikipedia.org/wiki/Academy_Award_for_Best_Picture


import requests
from bs4 import BeautifulSoup

URL = "https://en.wikipedia.org/wiki/Academy_Award_for_Best_Picture"

res = requests.get(URL).text
soup = BeautifulSoup(res,'lxml')
i = 0

years = []
films = []
producers = []

for items in soup.find_all('tr')[1::1]:#, {"style" : "background:#FAEB86"})[1::1]:
    i += 1
    data = items.find_all(['td'])
    try:
      if len(data) == 1:
        # print('_'*50)
        # print(data[0].b.text)
        year = data[0].b.text
        if year == '2022':
          break
        years.append(year)
      elif len(data) == 2:
        # print(data[0].b.text)
        # print(data[1].b.text)
        films.append(data[0].b.text)
        producers.append(data[1].b.text)

    except:
      pass
      # print('Fail....')
      # print(data[0])

import pandas as pd

results = pd.DataFrame()
results['year'] = years
results['film'] = films
results['producer'] = producers
results.to_csv('BestPictures.csv')
print('Num of items:', i)
results.head()

In [39]:
##https://en.wikipedia.org/wiki/Academy_Award_for_Best_Director

import requests
from bs4 import BeautifulSoup

wikiurl="https://en.wikipedia.org/wiki/Academy_Award_for_Best_Director"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
# print(response.status_code)

# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find_all('table',{'class':"wikitable"})

years = []
films = []
directors = []
qqq = []
i = 0
winners = []
year = 0
for items in indiatable:#, {"style" : "background:#FAEB86"})[1::1]:
    # i += 1
    # # print(items)
    data1 = items.find_all('tbody')#, {'style' : "background:#FAEB86"})
    for i in data1:

        data = i.find_all('tr')
        for datum in data:
            if datum.find('th')!=None:
                try:
                    year = datum.find('th').find("a").text
                    print(year)
                except:
                    pass
            tds =  datum.find_all("td")
            
            if len(tds)>=2:
                qqq.append(tds[0].text)
                qqq.append(tds[1].text)
                qqq.append(year)
                if len(tds[0].find_all("b"))==0:
                    qqq.append(0)
                else:
                    qqq.append(1)



for i, q in enumerate(qqq):
    if i % 4 == 2:
        years.append(int(q[:4]))
    elif i % 4 == 0:
        directors.append(q.replace("\n",""))
    elif i % 4 == 1:
        films.append(q.replace("\n",""))
    else:
        winners.append(q)



import pandas as pd

results = pd.DataFrame()
# results['year'] = years
results['director'] = directors
results['film'] = films
results['year'] = years
results['winner'] = winners
results.to_csv('BestDirector.csv')
results.head(15)

1927
1928
1929
1930
1931
1932
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020/21
2021
2022
                             director                            film  year  \
0    Frank Borzage (Dramatic Picture)                      7th Heaven  1927
1   Herbert Brenon (Dramatic Picture)                 Sorrell and Son  1927
2       King Vidor (Dramatic Picture)                       The Crowd  1927
3    Lewis Milestone (Comedy Picture)             Two Arabian Knights  1927
4          Ted Wilde (Comedy Picture)                          Speedy  1927
5                         Frank Lloyd                 The Divine Lady  1928
6                    Lionel Barrymore                        Madame X  1928
7                      Harry Beaumont             The Broadway Melody  1928
8                     Irving Cummings                  In Old Arizona  1928
9                         Frank Lloyd                            Drag  1928
10                     Ernst Lubitsch                     The Patriot  1928
11                    Lewis Milestone  All Quiet on the Western Front  1929
12                     Clarence Brown                   Anna Christie  1929
13                  Robert Z. Leonard                    The Divorcee  1929
14                     Ernst Lubitsch                 The Love Parade  1929

    winner
0        1
1        0
2        0
3        1
4        0
5        1
6        0
7        0
8        0
9        0
10       0
11       1
12       0
13       0
14       0

In [32]:
##https://en.wikipedia.org/wiki/Academy_Award_for_Best_Director

import requests
from bs4 import BeautifulSoup

wikiurl="https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actress"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
# print(response.status_code)

# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find_all('table',{'class':"wikitable"})

years = []
films = []
actors = []
roles = []
qqq = []
i = 0
winners = []
year = 0
for items in indiatable[1:]:#, {"style" : "background:#FAEB86"})[1::1]:
    # i += 1
    # # print(items)
    data1 = items.find_all('tbody')#, {'style' : "background:#FAEB86"})
    for i in data1:

        data = i.find_all('tr')
        for datum in data:
            if datum.find('th')!=None:
                try:
                    year = datum.find('th').find("a").text
                    print(year)
                except:
                    pass
            tds =  datum.find_all("td")
            
            if len(tds)>=3:
                qqq.append(tds[0].text)
                qqq.append(tds[1].text)
                qqq.append(tds[2].text)
                qqq.append(year)
                if len(tds[0].find_all("b"))==0:
                    qqq.append(0)
                else:
                    qqq.append(1)



for i, q in enumerate(qqq):
    if i % 5 == 3:
        years.append(q)
    elif i % 5 == 0:
        actors.append(q.replace("\n",""))
    elif i % 5 == 2:
        films.append(q.replace("\n",""))
    elif i % 5 == 1:
        roles.append(q.replace("\n",""))
    else:
        winners.append(q)



import pandas as pd

results = pd.DataFrame()
# results['year'] = years
results['actor'] = actors
results['role'] = roles
results['film'] = films
results['year'] = years
results['winner'] = winners
results.to_csv('BestDirector.csv')
results.head(15)

1927
1928
1929
1930
1931
1932
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020/21
2021
2022

,actor,role,film,year,winner
0,Janet Gaynor,Diane,7th Heaven,1927,1
1,Louise Dresser,Mrs. Pleznik,A Ship Comes In,1927,0
2,Gloria Swanson,Sadie Thompson,Sadie Thompson,1927,0
3,Mary Pickford,Norma Besant,Coquette,1928,1
4,Ruth Chatterton,Jacqueline Floriot,Madame X,1928,0
5,Betty Compson,Carrie,The Barker,1928,0
6,Jeanne Eagels (p.n.),Leslie Crosbie,The Letter,1928,0
7,Corinne Griffith,Emma Hamilton,The Divine Lady,1928,0
8,Bessie Love,Hank Mahoney,The Broadway Melody,1928,0
9,Norma Shearer [A],Jerry Bernard Martin,The Divorcee,1929,1
10,Nancy Carroll,Hallie Hobart,The Devil's Holiday,1929,0
11,Ruth Chatterton,Sarah Storm,Sarah and Son,1929,0
12,Greta Garbo[A],Anna Christie,Anna Christie,1929,0
13,Norma Shearer,Lucia Marlett,Their Own Desire,1929,0
14,Gloria Swanson,Marion Donnell,The Trespasser,1929,0

In [35]:
#https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actress
import requests
from bs4 import BeautifulSoup

wikiurl="https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actress"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
# print(response.status_code)

# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find_all('table',{'class':"wikitable"})

years = []
films = []
actors = []
roles = []
qqq = []
i = 0
winners = []
year = 0
for items in indiatable[1:]:#, {"style" : "background:#FAEB86"})[1::1]:
    # i += 1
    # # print(items)
    data1 = items.find_all('tbody')#, {'style' : "background:#FAEB86"})
    for i in data1:

        data = i.find_all('tr')
        for datum in data:
            if datum.find('th')!=None:
                try:
                    year = datum.find('th').find("a").text
                    print(year)
                except:
                    pass
            tds =  datum.find_all("td")
            
            if len(tds)>=3:
                qqq.append(tds[0].text)
                qqq.append(tds[1].text)
                qqq.append(tds[2].text)
                qqq.append(year)
                if len(tds[0].find_all("b"))==0:
                    qqq.append(0)
                else:
                    qqq.append(1)



for i, q in enumerate(qqq):
    if i % 5 == 3:
        years.append(int(q[:4]))
    elif i % 5 == 0:
        actors.append(q.replace("\n",""))
    elif i % 5 == 2:
        films.append(q.replace("\n",""))
    elif i % 5 == 1:
        roles.append(q.replace("\n",""))
    else:
        winners.append(q)



import pandas as pd

results = pd.DataFrame()
# results['year'] = years
results['actor'] = actors
results['role'] = roles
results['film'] = films
results['year'] = years
results['winner'] = winners
results.to_csv('BestActress.csv')
results.head(15)

1927
1928
1929
1930
1931
1932
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020/21
2021
2022

,actor,role,film,year,winner
0,Janet Gaynor,Diane,7th Heaven,1927,1
1,Louise Dresser,Mrs. Pleznik,A Ship Comes In,1927,0
2,Gloria Swanson,Sadie Thompson,Sadie Thompson,1927,0
3,Mary Pickford,Norma Besant,Coquette,1928,1
4,Ruth Chatterton,Jacqueline Floriot,Madame X,1928,0
5,Betty Compson,Carrie,The Barker,1928,0
6,Jeanne Eagels (p.n.),Leslie Crosbie,The Letter,1928,0
7,Corinne Griffith,Emma Hamilton,The Divine Lady,1928,0
8,Bessie Love,Hank Mahoney,The Broadway Melody,1928,0
9,Norma Shearer [A],Jerry Bernard Martin,The Divorcee,1929,1
10,Nancy Carroll,Hallie Hobart,The Devil's Holiday,1929,0
11,Ruth Chatterton,Sarah Storm,Sarah and Son,1929,0
12,Greta Garbo[A],Anna Christie,Anna Christie,1929,0
13,Norma Shearer,Lucia Marlett,Their Own Desire,1929,0
14,Gloria Swanson,Marion Donnell,The Trespasser,1929,0

In [36]:
#https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actress
import requests
from bs4 import BeautifulSoup

wikiurl="https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
# print(response.status_code)

# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find_all('table',{'class':"wikitable"})

years = []
films = []
actors = []
roles = []
qqq = []
i = 0
winners = []
year = 0
for items in indiatable[1:]:#, {"style" : "background:#FAEB86"})[1::1]:
    # i += 1
    # # print(items)
    data1 = items.find_all('tbody')#, {'style' : "background:#FAEB86"})
    for i in data1:

        data = i.find_all('tr')
        for datum in data:
            if datum.find('th')!=None:
                try:
                    year = datum.find('th').find("a").text
                    print(year)
                except:
                    pass
            tds =  datum.find_all("td")
            
            if len(tds)>=3:
                qqq.append(tds[0].text)
                qqq.append(tds[1].text)
                qqq.append(tds[2].text)
                qqq.append(year)
                if len(tds[0].find_all("b"))==0:
                    qqq.append(0)
                else:
                    qqq.append(1)



for i, q in enumerate(qqq):
    if i % 5 == 3:
        years.append(int(q[:4]))
    elif i % 5 == 0:
        actors.append(q.replace("\n",""))
    elif i % 5 == 2:
        films.append(q.replace("\n",""))
    elif i % 5 == 1:
        roles.append(q.replace("\n",""))
    else:
        winners.append(q)



import pandas as pd

results = pd.DataFrame()
# results['year'] = years
results['actor'] = actors
results['role'] = roles
results['film'] = films
results['year'] = years
results['winner'] = winners
results.to_csv('BestActor.csv')
results.head(15)

1927
1928
1929
1930
1931
1932
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020/21
2021
2022

,actor,role,film,year,winner
0,Emil Jannings [A],Grand Duke Sergius Alexander,The Last Command,1927,1
1,Richard Barthelmess,Nickie Elkins,The Noose,1927,0
2,Warner Baxter,The Cisco Kid,In Old Arizona,1928,1
3,George Bancroft,Thunderbolt Jim Lang,Thunderbolt,1928,0
4,Chester Morris,Chick Williams,Alibi,1928,0
5,Paul Muni,James Dyke,The Valiant,1928,0
6,Lewis Stone,Count Pahlen,The Patriot,1928,0
7,George Arliss [B],Benjamin Disraeli,Disraeli,1929,1
8,George Arliss[B],The Raja,The Green Goddess,1929,0
9,Wallace Beery,"Butch ""Machine Gun"" Schmidt",The Big House,1929,0
10,Maurice Chevalier [B],Pierre Mirande,The Big Pond,1929,0
11,Ronald Colman [B],"Capt. Hugh ""Bulldog"" Drummond",Bulldog Drummond,1929,0
12,Lawrence Tibbett,Yegor,The Rogue Song,1929,0
13,Lionel Barrymore,Stephen Ashe,A Free Soul,1930,1
14,Jackie Cooper,Skippy Skinner,Skippy,1930,0