In [2]:
import pandas
data_imdb = pandas.read_json("data_afterprocessing_with_award.json")

In [ ]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer
df = data_imdb["genre"]
pd.get_dummies(df.apply(pd.Series).stack()).sum(level=0)

In [17]:
data_imdb_lan = data_imdb[~data_imdb["original_language"].isna()]

In [18]:
df = data_imdb.groupby('original_language').size().reset_index(name='counts')

In [23]:
df = df[df['counts']>10].sort_values(by="counts")

In [25]:
list_language = list(df["original_language"])

In [26]:
list_language

['Swedish',
 'Polish',
 'Unknownlanguage',
 'Dutch',
 'Malayalam',
 'Danish',
 'Persian',
 'Tamil',
 'Norwegian',
 'Hebrew',
 'Russian',
 'Arabic',
 'Telugu',
 'Portuguese',
 'Filipino',
 'Italian',
 'German',
 'Japanese',
 'Korean',
 'Spanish',
 'Chinese',
 'Hindi',
 'French',
 'English']

In [27]:
for i in data_imdb.index:
    if data_imdb["original_language"][i] not in list_language:
        data_imdb["original_language"][i]  = 'Unknownlanguage'

C:\Users\An.VT212432M\AppData\Local\Temp\ipykernel_3716\2836099780.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_imdb["original_language"][i]  = 'Unknownlanguage'

In [28]:
df = data_imdb.groupby('original_language').size().reset_index(name='counts')

In [29]:
df

   original_language  counts
0             Arabic      25
1            Chinese     150
2             Danish      16
3              Dutch      14
4            English    3986
5           Filipino      32
6             French     259
7             German      58
8             Hebrew      22
9              Hindi     177
10           Italian      34
11          Japanese      72
12            Korean      87
13         Malayalam      14
14         Norwegian      21
15           Persian      16
16            Polish      11
17        Portuguese      28
18           Russian      23
19           Spanish     131
20           Swedish      11
21             Tamil      20
22            Telugu      25
23   Unknownlanguage     238

In [32]:
df1 = pd.get_dummies(data_imdb["original_language"])

In [34]:
df1 = pd.get_dummies(data_imdb["theater_release_month"])

In [ ]:
df1 = pd.get_dummies(data_imdb["year"])

In [35]:
df1

      Apr  Aug  Dec  Feb  Jan  Jul  Jun  Mar  May  Nov  Oct  Sep
0       0    0    0    0    0    0    0    0    0    1    0    0
1       0    0    0    0    0    0    1    0    0    0    0    0
2       0    0    0    0    0    0    0    0    0    0    0    1
3       0    0    0    0    1    0    0    0    0    0    0    0
4       0    0    0    0    0    0    0    1    0    0    0    0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
5465    0    0    0    0    1    0    0    0    0    0    0    0
5466    0    0    0    0    0    0    0    0    0    0    0    0
5467    0    0    1    0    0    0    0    0    0    0    0    0
5468    0    0    0    0    0    0    0    0    0    0    0    0
5469    0    0    0    0    1    0    0    0    0    0    0    0

[5470 rows x 12 columns]